:host {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 520px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0 0 72px;
}

nav {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  text-align: right;
  align-items: stretch;
  width: 100%;

  a {
    width: 100%;
    font-size: 82px;
    line-height: 1.4;
    color: #fff;
    text-decoration: none;
    position: relative;

    span {
      padding: 0 72px;
      position: relative;
    }
    &::before {
      position: absolute;
      bottom: 0;
      left: 72px;
      right: 72px;
      height: 2px;
      width: 100%;
      background: #fff;
      content: '';
    }
  }
}

i {
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  position: relative;
  right: 72px;
}